header{
    display: flex;
    justify-content: space-between;
    background-color: #920735;
    border-bottom:10px solid #000;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #ffffffc9;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif; 
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before{
    content: "";
    background-color: #000000;
    width: 10px;
    height: 10px;
    margin-right: 10px;    
}

#button{    
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0px;
    transition: transform 100ms linear, opacity 300ms ease-in-out;
    
}

#button:hover{
    background-color: #4400ff;
    transform: scale(1.08);
    opacity: 0.5;
}

#quadrado1{
    position: absolute;
    width: 627px;
    height: 184px;
    left: 91px;
    top: 196px;
    background: #570606;
    box-shadow: 10px 10px 0px #000000;

    text-shadow: 4px 4px 0px #000000;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
}

h1{
    position: absolute;
    width: 440px;
    height: 40px;
    left: 90px;
    top: 42px;
    
    font-size: 40px;
    line-height: 40px;
    color: #7c7979;    
}

h2{
    position: absolute;
    width: 570px;
    height: 30px;
    left: 40px;
    top: 110px;    

    font-size: 30px;
    line-height: 30px;

    color: #FFFFFF;
}