header{
    display: flex;
    justify-content: space-between;
    background-color: #920735;
    border-bottom:10px solid #000;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #ffffffc9;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif; 
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before{
    content: "";
    background-color: #000000;
    width: 10px;
    height: 10px;
    margin-right: 10px;    
}

.buttonEstilizacao{
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 0px;
    width: 170px;
    box-shadow: 5px 5px 0px #000000;

    align-items: center;
    color: #ffffffc9;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif; 
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    transition: transform 100ms linear, opacity 300ms ease-in-out;
    text-shadow: none;
}

.buttonEstilizacao:hover{
    background-color: #4400ff;
    transform: scale(1.08);
    opacity: 0.5;
}

#backgroundFundo{
    background-image: url(https://cdn.discordapp.com/attachments/846559288586928209/1101315064981635142/background-cat.jpg);
    background-size: 500px 250px;
    height: 750px;


}
#quadrado1{
    width: 35%;
    height: 140px;

    background: #570606;
    box-shadow: 10px 10px 0px #000000;

    text-shadow: 4px 4px 0px #000000;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    padding-top: 44px;

    position: relative;
    top: 130px;
    left: 91px;
}

#estilizacaoNome{
    display: inline;
    width: 35%;
    height: 35%;
    font-size: 40px;
    line-height: 40px;
    color: #7c7979;   
    margin-left: 13%; 
}

#estilizacaoSubNome{
    width: 110px;
    height: 110px;
    font-size: 30px;
    line-height: 30px;

    color: #FFFFFF;
    margin-left: 8%;
    margin-top: 15px;
    white-space: nowrap;
}

.buttonPosition{
    margin: 10px 60px 0px 80px;
}

