.button{    
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0px;
    transition: transform 100ms linear, opacity 300ms ease-in-out;
    font-size: 20px;
    color: #fff;    
}

.button:hover{
    background-color: #4400ff;
    transform: scale(1.08);
    opacity: 0.5;
}