.main-skills{
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.main-skills .container{
    width: 480px;
    margin-bottom: 30px;
}