.project-img{
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #fff;
    background-color: rgb(153, 3, 3);    
}

.project-img.-green{
    background-color: #00831c;
}

.project-img.-blue{
    background-color: rgb(48, 82, 121);
}