.skills{
    background-color: #920735;
    border-bottom: 10px outset #920735;
    padding-top: 120px;
    padding-bottom: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;  

    height: max-content;
}

.skills.-project{
    background-color: #000;
    border-bottom: 10px outset #c0e2de; 
}



.-project .main-title{
    color: #fff;
    text-align: center;
    padding-bottom: 70px;
}